<div class="instruction" id="instruction-<%= button_press.id %>">
  <div class="name">
    <%= button_press.human_name %>
  </div>
  <%= button_press.label %>
  <br/>
  <%= button_press.comment %>
</div>