<div class='row'>
  <div class="col col-sm-8">
    <%= image_tag 'team_rocket_logo.jpg' %>
  </div>
  <div class="col col-sm-4 liens">
    <%= link_to "Fossils", edit_fossil_path %>
    <%= link_to "Alolan", edit_alolan_path %>
    <%= link_to "Starters", edit_starters_path %>
  </div>
</div>
</div>

