[Unit]
Description=Rails Server
Requires=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/pi/robo-catcher
ExecStart=/home/pi/robo-catcher/bin/rails server -e production -p 3000
TimeoutSec=120
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
