[Unit]
Description=Rails Server
Requires=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/robo-catcher
ExecStart=/bin/bash -lc 'bundle exec rails server -e production --bind 0.0.0.0 --port 80'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
