[Unit]
Description=Rails Server
Requires=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/robo-catcher
ExecStart=/usr/bin/bash -lc 'PORT=80 bundle exec puma -C config/puma.rb'
TimeoutSec=30
RestartSec=15s
Restart=always
Environment=RAILS_ENV=production

[Install]
WantedBy=multi-user.target
