// Place all the styles related to the sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructions-list .active {
  background-color: #777777;
}

.instructions-list .sub-instructions .active{
  background-color: #272727;
}

// .instructions-list .instruction {
//   padding: 5px;
//   border-radius: 10px;
// }

.instructions-list .instruction .name {
  font-weight: bolder;
}