// Place all the styles related to the sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructions-list .current_instruction > .name:before, .instructions-list .current_instruction > div > .name:before {
  content: '✨';
  margin-left: -20px;
  display: block;
  position: absolute;
}

.instructions-list .list-group-item {
  padding-left: 30px;
}

.instructions-list .instruction .name {
  font-weight: bolder;
}

.sub-instructions .instruction {
  margin: 10px 0px;
}